.smart-form fieldset {
  background: rgba(248, 248, 248, 0.9);
}

.intl-tel-input {
  display: table-cell;
}

.intl-tel-input .iti-flag .arrow {
  border: none;
}

.intl-tel-input {
  width: 100%;
}

.stars,
.stars a {
  white-space: nowrap;
  color: #f3a928;
}

@media (max-width: 300px) {
  .navbar-header {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }
}

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#map {
  height: 300px;
}

.controls:focus {
  border-color: #4d90fe;
}

.title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

/* ========================================================== */
.flatpickr-time input.flatpickr-hour {
  font-weight: normal;
}

.flatpickr-input[readonly] {
  background-color: #FFFFFF;
}

.flatpickr-input[disabled] {
  background-color: #EEEEEE;
}

::selection {
    color: none;
    background: none;
}

::-moz-selection {
    color: none;
    background: none;
}

a.input-button {
    text-decoration: none;
    border: 1px solid #DDDDDD;
    display: inline-block;
    padding: 8.5px 12px;
    border-left: 0;
    cursor: pointer;
    align-self: center;
    justify-content: center;
    line-height: 1;
    background-color: #F6F6F6;
}

table.availability-table {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
}

span.short-text {
  display: none;
}

form>fieldset>section>button#showAvailabilityBtn,
form>fieldset>section>button#showAvailabilityBtn2 {
  background-color: #3276B1;
  color: #FFFFFF;
}

form>fieldset>section>table.table>tbody>tr>td,
form>fieldset>section>table.table>thead>tr>th {
  padding: 7px 9px;
}

table.table>thead>tr>th {
  font-size: 12.5px;
}

@media (max-width: 435px) {
  span.short-text {
    display: inline-block;
  }

  span.full-text {
    display: none;
  }

  form>fieldset>section>table.table>tbody>tr>td,
  form>fieldset>section>table.table>thead>tr>th {
    padding: 5px 5px;
  }
}

@media (pointer:coarse) {
  a.set-time-sun,
  a.set-time-mon,
  a.set-time-tue,
  a.set-time-wed,
  a.set-time-thu,
  a.set-time-fri,
  a.set-time-sat {
    display: none !important;
  }
}

.table>tbody>tr>td.weekday>div>input.activate-chat-checkbox-sun,
.table>tbody>tr>td.weekday>div>input.activate-chat-checkbox-mon,
.table>tbody>tr>td.weekday>div>input.activate-chat-checkbox-tue,
.table>tbody>tr>td.weekday>div>input.activate-chat-checkbox-wed,
.table>tbody>tr>td.weekday>div>input.activate-chat-checkbox-thu,
.table>tbody>tr>td.weekday>div>input.activate-chat-checkbox-fri,
.table>tbody>tr>td.weekday>div>input.activate-chat-checkbox-sat {
  margin-top: 3px;
}

.table>tbody>tr>td.weekday {
  vertical-align: middle;
}

.flex-cell {
  display: flex;
}

.table>tbody>tr>td>.flex-cell>.hours-select {
  min-width: 55px;
  max-width: 90px;
  margin-right: 3px;
}
/* TEMPORARY */
.table>tbody>tr>td>.flex-cell>.hours-select2 {
  min-width: 47px;
  max-width: fit-content;
  height: 30px;
  padding-left: 4px;
  border-color: #DDDDDD;
}
/* TEMPORARY */

.table>tbody>tr>td>.flex-cell>.day-or-night {
  min-width: 41px;
  max-width: 43px;
}
/* ========================================================== */