.smart-form fieldset {
  background: rgba(248, 248, 248, 0.9);
}

.intl-tel-input {
  display: table-cell;
}

.intl-tel-input .iti-flag .arrow {
  border: none;
}

.intl-tel-input {
  width: 100%;
}

.stars,
.stars a {
  white-space: nowrap;
  color: #f3a928;
}

@media (max-width: 300px) {
  .navbar-header {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }
}

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#map {
  height: 300px;
}

.controls:focus {
  border-color: #4d90fe;
}

.title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

/* === === === === === === === === === === === === === */
/* === === === === === === === === === === === === === */
.flatpickr-time input.flatpickr-hour {
  font-weight: normal;
}

.flatpickr-input[readonly] {
  background-color: #FFFFFF;
}

.flatpickr-input[disabled] {
  background-color: #EEEEEE;
}

::selection {
    color: none;
    background: none;
}

::-moz-selection {
    color: none;
    background: none;
}

.input-button:focus,
.input-button:hover,
#showAvailabilityBtn:hover {
  background-color: #23547E;
  color: #FFFFFF;
}

.input-button {
    border: 1px solid #2c699d;
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    background-color: #3276B1;
    color: #FFFFFF;
}

.selectize-control {
    margin-top: 6px;
}

.availability-table {
  background-color: #FAFAFA;
  border: 1px solid #DDDDDD;
}

.short-text {
  display: none;
}

#showAvailabilityBtn {
  background-color: #3276B1;
  color: #FFFFFF;
}

.availability-table>tbody>tr>td,
.availability-table>thead>tr>th {
  padding: 7px 9px;
}

.availability-table>thead>tr>th {
  font-size: 12.5px;
}

@media (max-width: 435px) {
  .short-text {
    display: inline-block;
  }

  .full-text {
    display: none;
  }

  .availability-table>tbody>tr>td,
  .availability-table>thead>tr>th {
    padding: 5px 5px;
  }
}

.availability-table>tbody>tr>td.weekday>div>input.activate-chat-checkbox-sun,
.availability-table>tbody>tr>td.weekday>div>input.activate-chat-checkbox-mon,
.availability-table>tbody>tr>td.weekday>div>input.activate-chat-checkbox-tue,
.availability-table>tbody>tr>td.weekday>div>input.activate-chat-checkbox-wed,
.availability-table>tbody>tr>td.weekday>div>input.activate-chat-checkbox-thu,
.availability-table>tbody>tr>td.weekday>div>input.activate-chat-checkbox-fri,
.availability-table>tbody>tr>td.weekday>div>input.activate-chat-checkbox-sat {
  margin-top: 3px;
}

.availability-table>tbody>tr>td.weekday {
  vertical-align: middle;
}

.flex-cell {
  display: flex;
}

.availability-table>tbody>tr>td>.flex-cell>.hours-select {
  min-width: 54px;
  max-width: 80px;
  height: 30px;
  padding-left: 4px;
  border-color: #DDDDDD;
}

.availability-table>tbody>tr {
  max-height: 47px;
  height: 47px;
  min-height: 47px;
}